.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-form label{
  font-size: 2.5rem;
  color: #458584;
  margin-top: 2%;
}
.register-form input{
  border: none;
  border-bottom: 2px solid #345660;
  padding: 10px;
  font-size: 2rem;
  outline: none;
  background: transparent;
  margin-bottom: 1.5%;
  text-align: center;
}
.register-form input[value]{
  color: #A7BA9A;
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}
.register-form input:focus{
  /* border-bottom: 4px solid #C869E7; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #345660 ;
}
.register-form input::placeholder{
  text-align: center;
  font-size: 2rem;
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
