.container-home {
  cursor: url(../assets/image_29.png), auto;
  position: relative;
}

.container-home-img {
  position: relative;
  bottom: 50px;
 }

.img-hill {
  width: 200%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
  filter: blur(0); /* No difuminar toda la imagen */
  -webkit-mask-image: radial-gradient(circle, rgba(1, 0, 32, 1) 60%, rgba(1, 0, 32, 0) 100%);
  mask-image: radial-gradient(circle, rgba(1, 0, 32, 1) 60%, rgba(1, 0, 32, 0) 100%);
}

.container-home-button {
  padding: 0 50%;
  /* position: absolute; */
  /* display: flex; */
}

.homeLink {
  text-decoration: none;
  color: #010020;
}

.buttonHomeInit{
  font-size: 40px;
  background-color: #0541AF;
  border-radius: 10px;
  border: none;;
  width: 200px;
  height: 8vh;
  color: #010020;
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 50px;
  /* cursor: url(../assets/teeth.png), auto; */
}
