.container-home {
  cursor: url(../assets/cursor.svg), auto;
}
.container-home-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-hill {
  /* margin: 0 auto; */
  margin-bottom: 20px;
  /* height: 80%; */
  width: 80%;
  filter: blur(0); 
  -webkit-mask-image: radial-gradient(circle, rgba(1, 0, 32, 1) 60%, rgba(1, 0, 32, 0) 100%);
  mask-image: radial-gradient(circle, rgba(1, 0, 32, 1) 60%, rgba(1, 0, 32, 0) 100%);
}
.button-Home{
  width: 25%;
  font-size: 50px;
  background-color: #0541AF;
  border-radius: 15px;
  border: none;;
  height: 10vh;
  margin-bottom: 20px;
  color: #010020;
  font-family: "Just Another Hand", cursive;
  font-weight: 800;
  font-style: normal;
  cursor: pointer;
}
.button-Home p{
  margin-top: 10px;
}
.homeLink {
  text-decoration: none;
  color: #010020;
  letter-spacing: 0.25em;
  word-spacing: 0.25em; 
}

/* Pantallas pequeñas (celulares) */
@media (min-width: 320px) and (max-width: 608px) {
  .container-home {
    min-height: 100vh;
  }
  .button-Home{
    width: 30%;
    height: 8vh;
  }
  .button-Home p{
    font-size: 30px;
    margin-top: 5px;
    letter-spacing: 0.1em;
  }

}

/* @media (min-width: 600px) and (max-width: 768px) {
  body {
    background-color: #de3163;
  }
} */
