.titleDark {
  font-family: "Just Another Hand", cursive;
  /* font-family: "Creepster", system-ui; */
  font-weight: 400;
  font-style: normal;
  /* text-shadow: 0 0 5px rgba(255, 0, 0, 0.5); */
  color: #C869E7;
  /* border-bottom: 2px solid rgba(255, 0, 0, 0.5); */
  /* box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); */
} *

/* .titleDark {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
  position: relative; 
  color: #C869E7;
} */

.titleDark .letter {
  position: relative;
  display: inline-block;
}

.titleDark .letter::before, .titleDark .letter::after {
  content: "";
  position: absolute;
  width: 4px;
  background: rgba(1, 0, 32, 0.7);
  left: 50%;
  transform: translateX(-50%);
  animation: blood 4s infinite ease-in-out;
}

.titleDark .letter::before {
  height: 10px;
  top: 50%;
}

.titleDark .letter::after {
  height: 6px;
  top: 50%;
  animation-delay: 0.8s;
}

@keyframes blood {
  0% {
    height: 0;
    opacity: 1;
  }
  50% {
    height: 30px; /* Ajusta la longitud del goteo */
    opacity: 0.8;
  }
  100% {
    height: 0;
    opacity: 0;
    transform: translateY(50px); /* Ajusta para hacer que la gota baje */
  }
}