.container-login {
  cursor: url(../assets/cursor.svg), auto;
}
.container-login-text{
  text-align: center;
  margin-top: -1%;
}
.login-button-init {
  font-size: 4rem;
}
.container-login-avatar{
  margin-top: 2%;
  text-align: center;
}
.avatar-faceLogin {
  width: 10%;
  margin-bottom: 1%;
}
.container-login-button{
  margin-bottom: 10%;
}

/* Pantallas pequeñas (celulares) */
@media (max-width: 768px) {
  .login-button-init {
    font-size: 2.5rem;
  }
  .avatar-faceLogin {
    width: 25%;
    margin-top: 8%;
    margin-bottom: 1%;
  }
  .container-login-text{
    margin-top: -20%;
  }
}