.container-login {
  cursor: url(../assets/image_29.png), auto;
}
.loginLink {
  text-decoration: none;
  color: #010020;
}
.login-button-init {
  font-size: 4em;
}
.avatar-faceLogin {
  width: 20%;
  margin-bottom: 5%;
}
.container-login-button{
  margin-bottom: 10%;
}
.container-login-avatar{
  text-align: center;
}
.container-login-text{
  text-align: center;
}

/* Pantallas pequeñas (celulares) */
@media (max-width: 768px) {
  .login-button-init {
    font-size: 3em;
  }
}