.container-principal {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
  cursor: url(../assets/image_29.png), auto;
}
 .container-principal-text {
  position: relative;
  /* transform: translateX(-50%); */
  /* margin-top: -40px; */
 }
.container-principal-textAll {
  position: relative;
  margin-left: 20px;
  color: #889DA2;
  font-size: 5em;
  text-align: left;
}
.container-principal-title{
  text-align: center;
}
.viewLink {
  text-decoration: none;
  color: #889DA2;
}
.principal-textAll{
  margin-top: 10%;
}
.faceMonster {
  position: absolute;
  width: 100%;
}
.container-principal-story{
  position: relative;
  padding-left: 202px;
  padding-right: 200px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 150px; 
  justify-content: center; 
}
.container-stories-cards{
  font-size: 4em;
  background-color: #3E565F;
  color: #889DA2;
  padding: 40px;
  width: 300px; 
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

/* Pantallas pequeñas (celulares) */
@media (max-width: 768px) {
  .container-principal-story{
    padding-left: 0;
    padding-right: 0;
    gap: 20px; /* Espacio entre los contenedores */
  }
  .container-stories-cards{
    font-size: 1.8em;
    padding: 20px;
    width: 140px; /* Tamaño fijo para las tarjetas */
    border-radius: 8px;
  }
  .container-principal-textAll {
    font-size: 2em;
  }
  .principal-textAll{
    margin-top: 10%;
    margin-bottom: -25%;
  }
  .container-principal-title{
    margin-top: -35%;
  }
  .faceMonster {
    height: 120vh;
  }
}
