.container-principal {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
  cursor: url(../assets/image_29.png), auto;
}
 .container-principal-text {
  position: relative;
  transform: translateX(-50%);
  margin-top: -40px;
 }
.container-principal-textAll {
  position: relative;
  margin-left: 20px;
  color: #889DA2;
  font-size: 5em;
  text-align: left;
}
.viewLink {
  text-decoration: none;
  color: #889DA2;
}
.principal-textAll{
  margin-top: 10%;
}

.faceMonster {
  position: absolute;
  width: 100%;
}
.containe-principal-story{
  position: relative;
  padding-left: 202px;
  padding-right: 200px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 150px; 
  justify-content: center; 
}
.container-stories-cards{
  font-size: 4em;
  background-color: #3E565F;
  color: #889DA2;
  padding: 40px;
  width: 300px; 
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
