.container-register{
  cursor: url(../assets/cursor.svg), auto;
}
.register-button-init {
  font-size: 4rem;
  text-align: center;
}
.container-register-button p{
  margin-top: .5%;
}
.register-button-opc {
  color: #458584;
  font-size: 2rem;
  text-align: center;
}
.register-button-a {
  color: #458584;
}
.buttonHomeLink{
  text-decoration: none;
  color: #010020;
}

@media (max-width: 768px) {
  .register-button-init{
    margin-top: -15%;
  }
  .container-register-form{
    margin-top: 12%;
  }
  .register-button-init {
    font-size: 2em;
  }
}
