.container-Search-principal{
  cursor: url(../assets/image_29.png), auto;
  height: 100vh;
}
.container-search{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  width: 50%;
  background-color: #345660;
  padding: 10px
}

#searchButton {
  padding: 10px 20px;
  background-color: #345660;
  color: #A7BA9A;
  border: none;
  cursor: pointer;
  font-size: 31px;
}

.container-stories {
  padding-left: 302px;
  padding-right: 300px;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}
  
.story-card {
  background-color: #1F3F58;
  color: #A7BA9A;
  padding: 20px;
  width: 50%; 
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.story-card-image{
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.iconArrowLeft{
  transform: translateX(-730px);
  color: #A7BA9A;
}

.iconArrowLeft{
    font-size: 48px;
}

