.container-story{
  cursor: url(../assets/cursor.svg), auto;
}
.icon-close{
  display: flex;
  margin-left: 2%;
  background-color: transparent;
  margin-top: -5%;
  cursor: pointer;
  position: relative;
}
#icon-close-text {
  color: black;
  cursor: pointer;
}
.container-story-avatar{
  text-align: center;
  margin-top: 5%;
}
.avatar-face {
  margin-top: -2%;
  width: 10%;
  margin-bottom: 1%;
}
.container-story-text{
  text-align: center;
}
.story-button-init{
  font-size: 4em;
}
.container-story-input{
  margin-top: 1%;
  text-align: center;
  cursor: pointer;
}
.container-story-input label{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #458584;
  margin-top: 2%;
  margin-bottom: -1%;
}
.container-story-input input{
  text-transform: capitalize;
}
.container-story-input input[value]{
  color: #A7BA9A;
}
#inputStory { 
  font-size: 2rem;
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  border-radius: 6px; 
  background-color: #1F3F58;
  width: 25%;
  border: none;
  margin-top: 2%;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.container-story-button{
  text-align: center;
  margin-top: -2%;
}
.container-story-button button{
  width: 30%;
  cursor: pointer;
}
.buttonStory{
  border-radius: 15px;
  font-size: 2rem;
  border: none;
  width: 15%;
  color: #458584;
  background-color: #345660;
  font-family: "Just Another Hand", cursive;
  font-weight: 600;
  font-style: normal;
  margin-top: 5%;
  margin-bottom: 5%;
  letter-spacing: 1px;
}

@media (min-width: 320px) and (max-width: 608px) {
  #inputStory { 
    font-size: 2rem;
    width: 80%;
    margin-top: 2%;
  }
  .icon-close{
    margin-left: 2%;
    margin-top: -25%;
    cursor: pointer;
    position: relative;
  }
  .buttonStory{
    font-size: 1.8em;
    width: 80%;
    height: 5vh;
  }
  .story-button-init{
    font-size: 2.5rem;
  }
  .container-story-input{
    margin-top: 10%;
    width: 100%;
  }
  .avatar-face {
    width: 25%;
    position: relative;
    margin-top: -15%;
  }
  .container-story-button button{
    width: 80%;
  }
}