.container-viewStories-screen{
  background-color: #1A2F4C;
  padding: 5%;
  margin: 4%;
  text-align: center;
}
.viewstories-loaders {
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.story-details-description{
  color: #A7BA9A;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: justify;
}
.story-details-title{
  color: #0F1217;
  font-size: 4em;
  text-align: center;
}
.story-details-imagen{
  width: 80%;
  height: 500px;
}